---
http_interactions:
- request:
    method: post
    uri: http://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: photo_id=7442171028&method=flickr.photos.getSizes&format=json&nojsoncallback=1
    headers:
      authorization:
      - OAuth realm="http://api.flickr.com/services/rest/", oauth_consumer_key="be55f6ec20260efd8dfa61ca4bf3c289",
        oauth_nonce="OaIe3w3FHDesN8NLKiWX8O9Isv1wq0yP%2B7cSGL9J%2FRY%3D", oauth_signature="bPEYqb%2BzbhrpA5mkBPezsoTBTWE%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1341172391", oauth_token="",
        oauth_version="1.0"
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"sizes":{"canblog":0, "canprint":0, "candownload":1, "size":[{"label":"Square",
        "width":75, "height":75, "source":"http:\/\/farm8.staticflickr.com\/7107\/7442171028_79e58a5a45_s.jpg",
        "url":"http:\/\/www.flickr.com\/photos\/photographydd\/7442171028\/sizes\/sq\/",
        "media":"photo"}, {"label":"Large Square", "width":"150", "height":"150",
        "source":"http:\/\/farm8.staticflickr.com\/7107\/7442171028_79e58a5a45_q.jpg",
        "url":"http:\/\/www.flickr.com\/photos\/photographydd\/7442171028\/sizes\/q\/",
        "media":"photo"}, {"label":"Thumbnail", "width":"100", "height":"67", "source":"http:\/\/farm8.staticflickr.com\/7107\/7442171028_79e58a5a45_t.jpg",
        "url":"http:\/\/www.flickr.com\/photos\/photographydd\/7442171028\/sizes\/t\/",
        "media[...]
